@import "../../Styles/variables";

.login__wrapper {
    position: relative;
    overflow: hidden;
    height: 100vh;

    .login__ball {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .ball {
            height: 377px;
            width: 377px;
            background-color: red;
            border-radius: 50%;

            &.ball__red {
                margin-top: -140px;
                margin-left: -140px;
                background-color: lighten($red, 60%);
            }

            &.ball__black {
                margin-top: 140px;
                background-color: lighten($black, 60%);
            }
        }
    }

    .login__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        background-color: #fff;
        box-shadow: -2px 0px 12px #c4c4c4;

        img.form__logo {
            margin-top: 20px;
            width: 300px;
        }

        .form__inputs {
            margin-top: 20px;

            .form__group {
                width: 70%;
                margin: 20px auto;
                position: relative;

                label {
                    display: block;
                    margin-bottom: 10px;
                }

                .form__error {
                    border: 1px solid red;
                    padding: 10px 30px;
                    position: absolute;
                    top: -23px;
                    color: #fff;
                    right: -135px;
                    background-color: red;

                    p {
                        text-align: center;
                    }

                    &::before {
                        content: '';
                        width: 0;
                        position: absolute;
                        bottom: -7px;
                        left: 8px;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 6px 0 6px;
                        border-color: #ff0000 transparent transparent transparent;
                    }
                }

                input {
                    width: 100%;
                    padding: 10px;
                    background-color: $grey;
                    border: none;

                    &.hasError {
                        border: 1px solid $red;
                    }
                }

                .bt {
                    width: 80%;
                    margin-top: 40px;
                }
            }
        }
    }
}

.animation__wrapper {
    padding: 20px;

    p {
        text-align: center;
    }
}