.landing__wrapper{
    .landing__hero{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 700;
            font-size: 50px;
        }
    }
}