@import '../../Styles/helpers';
@import '../../Styles/responsive';
@import '../../Styles/variables';

header.header__nav-interna {
    width: 100%;
    position: relative;
    top: 0;
    margin-top: 10px;
    margin-bottom: 20px;

    .nav__interna {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // padding: 0 10px;

        .nav__bemvindo {
            h2 {
                text-align: center;

                span {
                    font-weight: 700;
                }
            }

            p {
                text-align: center;
                margin-top: 20px;

                @include sm{
                    margin-top: 0;
                }

                @include max-xs{
                    font-size: 14px;
                }
            }
        }

        .nav__opcoes {
            display: flex;
            flex-direction: row;
            align-items: center;

            .opcoes__language{
                cursor: pointer;
                position: relative;

                &:hover{
                    .lang__current img{
                        transform: scale(1.09);
                    }

                    .lang__more-options{
                        visibility: visible;
                    }
                }

                .lang__current{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 40px;
                    }
                }

                .lang__more-options{
                    position: absolute;
                    z-index: 4;
                    background-color: #fff;
                    padding: 20px 10px;
                    right: 0;
                    box-shadow: -1px 4px 20px 0px #cacacaee;
                    overflow: hidden;
                    visibility: hidden;

                    .mo__wrapper{
                        display: flex;
                        align-items: center;
                        border-radius: 25px;
                        padding: 0 10px;

                        &:hover{
                            background-color: #f2f2f2;
                        }

                        img{
                            width: 40px;
                            margin-right: 5px;
                        }

                        p{
                            font-size: 12px;
                        }
                    }
                }
            }

            .opcoes__avatar {
                display: none;
                margin: 0  0 0 10px;

                &:hover{
                    img{
                        transform: scale(1.02);
                    }
                }

                img {
                    width: 40px;
                    border-radius: 50%;
                }
            }

            .opcoes__notifications {
                margin: 0 20px;
                cursor: pointer;
                position: relative;

                .notifications__hasNot {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: red;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        color: #fff;
                        font-size: 10px;
                    }
                }

                .notifications__dropdown {
                    position: absolute;
                    top: 130%;
                    right: -10px;
                    width: 200px;
                    background-color: #fff;
                    z-index: 2;
                    border-radius: 20px;
                    box-shadow: -2px 0px 12px #eeee;
                    padding: 20px 10px;
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: auto;
                    visibility: hidden;
                    overflow: auto;
                    transition: all .2s linear;
                    animation: goDown .2s linear;

                    @keyframes goDown {
                        0% {
                            height: 0px;
                        }

                        20% {
                            height: 100px;
                        }

                        100% {
                            height: 300px;
                        }
                    }

                    &.show {
                        visibility: visible;
                    }

                    p {
                        text-align: center;
                    }
                }
            }

            .opcoes__logout {
                .bt {
                    display: block;
                    width: auto;
                    background-color: $black;

                    &:hover {
                        background-color: lighten($black, 10%);
                    }
                }
            }
        }

        @include max-xxs {
            .nav__bemvindo {
                h2 {
                    margin-bottom: 10px;
                }
            }
        }

        @include sm {
            flex-direction: row;

            .nav__bemvindo {
                h2 {
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }

            .nav__opcoes {
                flex-direction: row;

                .opcoes__avatar {
                    display: block;
                }

                .opcoes__logout {
                    // margin-left: 8px;

                    .bt {
                        display: inline;
                        width: 60%;
                    }
                }
            }
        }
    }
}