.rc-table {
    .rc-table-thead {
        background-color: #222;

        .rc-table-cell {
            padding: 10px;
            color: #fff;
        }
    }

    .rc-table-tbody {
        .rc-table-cell {
            padding: 10px;
            text-align: center;
        }

        .rc-table-row {
            &:nth-child(odd) {
                background-color: #fff;
            }
        }
    }
}