@import '../../Styles/variables';
@import '../../Styles/responsive';

.dashboard__wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .dashboard__content {
        position: relative;

        .content__sidebar {
            width: 70px;
            background-color: $black;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            transition: width .2s linear;
            z-index: 3;

            &.side__closed {
                width: 70px;

                &::before {
                    content: none
                }

                .sidebar__logo {
                    img {
                        width: 70px;
                    }
                }

                .sidebar__menu {
                    .menu__toggle {
                        right: 20px;
                    }
                }
            }

            &.side__full__xxs {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                bottom: 0;
                z-index: 99;
                display: block;
                width: 200px;
            }

            .sidebar__logo {
                flex: 1;
                margin-top: 20px;

                img {
                    display: block;
                    margin: 0 auto;
                    width: 250px;

                    &.img__smaller {
                        width: 70px;
                    }
                }
            }

            .sidebar__menu {
                flex: 6;
                position: relative;
                transition: width .2s linear;

                .menu__toggle {
                    position: absolute;
                    top: -104px;
                    right: -1px;
                    cursor: pointer;
                    display: none;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 50%;
                    box-shadow: 2px 2px 2px #eee;

                    @include sm {
                        display: block;
                    }
                }

                ul {
                    li {
                        margin: 10px 0;

                        &>a {
                            text-decoration: none;
                        }
                    }
                }
            }

            @include max-xxs {
                width: 50px;
                display: none;

                .sidebar__logo {
                    img {
                        &.img__smaller {
                            width: 50px;
                        }
                    }
                }
            }

            @include sm {
                width: 250px;
            }

            @include md {
                width: 300px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 20px;
                    background-color: #fff;
                    border-radius: 25px 0 0 25px;
                }
            }
        }

        .content__main {
            overflow-x: auto;
            margin-left: 70px;
            background-color: #fff;
            height: 100vh;
            width: calc(100% - 70px);
            position: relative;
            padding: 30px 40px;

            &.side__closed {
                padding: 30px 40px;
                margin-left: 70px;
                width: calc(100% - 50px);
            }

            .open__side__xxs {
                cursor: pointer;
                position: absolute;
                top: 20px;
                left: 20px;
                display: none;

                @include max-xxs {
                    display: block;
                }
            }

            .close__side__xxs {
                cursor: pointer;
                position: absolute;
                top: 20px;
                right: 20px;
                display: none;

                @include max-xxs {
                    display: block;
                }
            }

            @include max-xxs {
                padding: 30px 10px;
                margin-left: 0 !important;
                width: 100% !important;
            }

            @include sm {
                margin-left: 250px;
                width: calc(100% - 250px);
            }

            @include md {
                margin-left: 300px;
                width: calc(100% - 300px);
            }
        }
    }
}

.dashboard__outHeader{
    position: relative;
    height: 200px;
    background-color: #222;
}