@import './variables';

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1370px;
    }
}

.bt {
    background-color: $red;
    border-radius: 25px;
    padding: 10px 40px;
    width: 60%;
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 20px auto;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: lighten($red, 10%);
    }
}

.tt-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
}

.skel__margin {
    &+span {
        margin: 10px 0;
    }
}

.form__inputs {
    margin-top: 20px;

    .form__group {
        width: 70%;
        margin: 20px auto;
        position: relative;

        &.not__centered {
            margin: 20px 0;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        .form__error {
            border: 1px solid red;
            padding: 10px 30px;
            position: absolute;
            top: -23px;
            color: #fff;
            right: -135px;
            background-color: red;

            p {
                text-align: center;
            }

            &::before {
                content: '';
                width: 0;
                position: absolute;
                bottom: -7px;
                left: 8px;
                height: 0;
                border-style: solid;
                border-width: 6px 6px 0 6px;
                border-color: #ff0000 transparent transparent transparent;
            }
        }

        input {
            width: 100%;
            padding: 10px;
            background-color: $grey;
            border: none;

            &.hasError {
                border: 1px solid $red;
            }
        }

        .bt {
            width: 80%;
            margin-top: 40px;
        }
    }
}