@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import './reset';
@import './variables';
@import './helpers';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
}