@import '../../Styles/variables';
@import '../../Styles/responsive';

.link__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;

    .link__popover {
        position: absolute;
        right: -204px;
        bottom: -7px;
        background-color: #222;
        padding: 17px 20px;
        z-index: 3;
        width: 200px;
        border-radius: 17px;
        visibility: hidden;

        p {
            color: #fff;
        }
    }

    &.active {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            background-color: $red;
        }
    }

    &:hover {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            background-color: $red;
        }

        .link__icon {
            svg {
                transform: scale(1.02);
            }
        }
    }

    .link__text {
        p {
            text-decoration: none;
            color: #fff;
            display: none;
        }
    }

    &.link__reduced {
        padding: 10px;
        justify-content: center;

        .link__text {
            p {
                text-decoration: none;
                color: #fff;
                display: none;
            }
        }

        .link__popover {
            visibility: hidden;
        }

        &:hover {
            @include sm {
                .link__popover {
                    visibility: visible;
                }
            }
        }
    }

    @include max-xxs {
        &.link__reduced {
            .link__text {
                p {
                    display: block;
                }
            }

            .link__icon {
                margin-right: 10px;
            }
        }
    }

    @include sm {
        padding: 10px 10px 10px 40px;
        justify-content: flex-start;

        .link__text {
            p {
                display: block;
            }
        }

        .link__icon {
            margin-right: 10px;
        }
    }
}