@import '../../Styles/responsive';

.hins__wrap{
    .hins__header{
        ul{
            text-align: center;

            @include sm{
                text-align: left;
            }

            li:not(.hins__not-round){
                background-color: #f2f2f2;
            }

            li{
                border-radius: 25px;
                padding: 10px;
                display: inline-block;

                a{
                    text-decoration: none;
                }
            }
        }
    }
}