@import '../../Styles/responsive';

.admnntad__rr {
    display: flex;
    flex-direction: column;

    .adm__bemvindo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include md{
            flex-direction: row;
        }

        .bem__vindo-info{
            margin-bottom: 20px;

            @include max-sm{
                text-align: center;
            }
        }

        // p{
        //     margin-top: 20px;
        //     font-size: 16px;
        // }
    }

    .adm__grid--container{

        display: block;

        & > div{
            margin: 10px 0;
        }

        @include md{
            margin-top: 14px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px 10px;
            grid-template-areas:
                "ponto pontos_hoje pontos_hoje"
                "logs logs grafico_users";
    
            .ponto { grid-area: ponto; }
            .pontos_hoje { grid-area: pontos_hoje; }
            .logs { grid-area: logs; }
            .grafico_users { grid-area: grafico_users; }

            & > div{
                margin: 0;
            }
        }

    }

}